div.block {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.btn-container {
    margin-top: 15px;
}

.navbar {
    margin-bottom: 40px;
}

.btn-block {
    margin-top: 10px;
}

.table {
    margin: 50px auto;
    width: 90% !important;
}
